:root {
  --main-padding-h: 10rem;
  --nav-height: 6.25rem;
  --color-main: #FFDC00;
  --main-font-size: 2.25rem;
}

@font-face {
  font-family: "Alpino-Bold";
  src: url("./fonts/Alpino-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Alpino-Bold", Arial, sans-serif;
}

h1 {
  --title-size: 14rem;
  --title-bottom-margin: 3rem;

  margin: 0;
  padding-bottom: var(--title-bottom-margin);
  font-size: var(--title-size);
  line-height: calc(var(--title-size) / 1.05);
}

h2, h3 {
  --title-size-2: 3.25rem;

  font-size: var(--title-size-2);
  text-decoration: underline;
  text-decoration-color: var(--color-main);
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

button {
  color: #000;
  background-color: var(--color-main);
  border-color: var(--color-main);
  border-width: 0;
  border-radius: 0.865rem;
  font-family: "Alpino-Bold", Arial, sans-serif;
  font-size: calc(var(--main-font-size)*1.8);
  box-shadow: none;
  padding: 0.2rem 1rem;
}

button:hover {
  background-color: #FFEC74;
}

button:active{
  background-color: #FFC474;
}

/*Navbar Top*/

nav {
  height: var(--nav-height);
  width: calc(100vw - (2 * var(--main-padding-h)));
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: var(--main-padding-h);
  padding-right: var(--main-padding-h);
  z-index: 10;
}

nav #logo {
  max-width: 14.0625rem;
}

nav #burger {
  max-width: 2.375rem;
  display: none;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-left: 2rem;
}

/*Header*/

main {
  min-height: calc(100vh - (var(--nav-height)));
  padding-top: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: var(--main-padding-h);
  padding-right: var(--main-padding-h);
  background-image: url("https://prod.spline.design/pZzc1ja5LZfh5cN8/scene.splinecode");
}

.main-bg {
  position: absolute;
}

.main-content{
  z-index: 2;
}

.main-content img {
  display: none;
  margin: 0;
  width: 10rem;
  height: auto;
}

main p {
  font-size: var(--main-font-size);
}

/*Tablet Scaling*/

@media screen and (max-width: 1135px) {
  :root {
    --main-padding-h: 5rem;
    --main-font-size: 1.625rem;
  }

  h1 {
    --title-size: 10rem;
  }

  nav {
    --padding-v: 0.875rem;
  }

  nav ul {
    display: none;
    max-width: 500px;
  }

  nav #burger {
    display: inline;
  }
}

/*Mobile Scaling*/

@media screen and (max-width: 790px) {
  :root {
    --main-padding-h: 0.875rem;
    --main-font-size: 1.3rem;
  }
  
  h1 {
    --title-size: 7.625rem;
    --title-bottom-margin: 0rem;
    line-height: 0.5rem;

    line-height: calc(var(--title-size) / 1.3)
  }

  main p {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .main-bg {
    display: none;
  }

  .main-content img {
    display: inline-block;
  }
  
}
